<html>

  <head>
    <title>
      Dashbord
    </title>
    <meta charset='utf-8' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link
      rel='mask-icon'
      href='/fav/safari-pinned-tab.svg'
      color='#5bbad5'
    />
    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />

    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    {{! <link href='css/normalize.css' rel='stylesheet'/> }}

    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'
      rel='stylesheet'
    />

    <link href='css/dashbord.css' rel='stylesheet' />
  </head>

  <body>
    <div class='page'>
      <div class='page--dashbord'>
        <aside
          class='page_aside aside vertical vertical--big'
        >
          <div class='aside_logo'>Sidebar</div>
          <nav class='aside_nav vertical vertical--small'>
            <a
              href='#'
              class='nav_button nav_button_active clik'
            >
              <span
                class='icon nav_button_icon'
                style='background-image: url(/svg/nav/home.svg);'
              ></span>
              <nav
                class='text text_line text--light'
              >Home</nav>

            </a>
          </nav>
          <nav class='aside_nav'>
            <a href='#' class='nav_button clik'>
              <span
                class='icon nav_button_icon'
                style='background-image: url(/svg/nav/menu.svg);'
              ></span>
              <nav
                class='text text_line text--light'
              >Orders</nav>

            </a>
          </nav>
          <nav class='aside_nav'>
            <a href='#' class='nav_button clik'>
              <span
                class='icon nav_button_icon'
                style='background-image: url(/svg/nav/produkt.svg);'
              ></span>
              <nav
                class='text text_line text--light'
              >Products</nav>

            </a>
          </nav>
        </aside>
        <header class='header text'>
          <div class='layout heder_content'>
            <div class='header_search relative'>
              <input
                type='text'
                placeholder='Search'
                class='field field--header'
              />
              <span
                class='icon header__icon-search'
                style='background-image: url(/svg/header/search.svg);'
              ></span>
              <span
                class='icon header__icon-setting icon--button icon--color-blue clik'
                style='background-image: url(/svg/header/setting.svg);'
              ></span>

            </div>
            <div class='icon_element'>
              <span
                class='ierigliph icon icon--button icon--color-eloy'
                style='background-image: url(/svg/header/antena.svg);'
              ></span>
              <span
                class='ierigliph icon icon--button icon--color-blue-layt'
                style='background-image: url(/svg/header/symbols.svg);'
              ></span>
              <span
                class='ierigliph icon icon--button icon--color-eloy'
                style='background-image: url(/svg/header/bell.svg);'
              ></span>
            </div>
          </div>
        </header>
        <main class='main'>
          <div class='layout'>
            <section class='box analytic_blok'>
              <div
                class='analytic analytic--dable analytic--purple'
              >

                <span
                  class='icon analytic_button icon--button icon--color-purple clik'
                  style='background-image: url(/svg/header/order.svg);'
                ></span>
                <div
                  class='relative analytic_content vertical vertical--small'
                >
                  <div
                    class='analytic_title text text--white'
                  >$500.00</div>
                  <div
                    class='analytic_info text text--small text--layter'
                  >Total earning</div>
                  <span
                    class='icon analytic_arov'
                    style='background-image: url(/svg/header/arov.svg);'
                  ></span>
                </div>
              </div>
              <div
                class='analytic analytic--dable analytic--purple'
              >

                <span
                  class='icon analytic_button icon--button icon--color-purple clik'
                  style='background-image: url(/svg/header/order.svg);'
                ></span>
                <div
                  class='relative analytic_content vertical vertical--small'
                >
                  <div
                    class='analytic_title text text--white'
                  >$500.00</div>
                  <div
                    class='analytic_info text text--small text--layter'
                  >Total earning</div>
                  <span
                    class='icon analytic_arov'
                    style='background-image: url(/svg/header/arov.svg);'
                  ></span>
                </div>
              </div>
              <div
                class='analytic analytic--dable analytic--blue'
              >

                <span
                  class='icon analytic_button icon--button icon--color-blue clik'
                  style='background-image: url(/svg/header/shop.svg);'
                ></span>
                <div
                  class='relative analytic_content vertical vertical--small'
                >
                  <div
                    class='analytic_title text text--white'
                  >$961</div>
                  <div
                    class='analytic_info text text--small text--layter'
                  >Total Order</div>

                </div>
              </div>
              <div class='analytic--row analytic--blue'>

                <span
                  class='icon analytic_button icon--button icon--color-blue clik'
                  style='background-image: url(/svg/header/order.svg);'
                ></span>
                <div
                  class='relative analytic_content vertical vertical--small'
                >
                  <div
                    class='analytic_title text text--white'
                  >$203k</div>
                  <div
                    class='analytic_info text text--small text--layter'
                  >Total Income</div>

                </div>
              </div>
              <div class='analytic--row icon--button'>

                <span
                  class='icon analytic_button icon--button icon--color-eloy clik'
                  style='background-image: url(/svg/header/dom.svg);'
                ></span>
                <div
                  class='relative analytic_content vertical vertical--small'
                >
                  <div
                    class='analytic_title text'
                  >$203k</div>
                  <div
                    class='analytic_info text text--small'
                  >Total Income</div>

                </div>
              </div>
            </section>
            <section class='purchase_blok'>
              <div class='purchase_list'>
                <div
                  class='purchase_title text text--24'
                >Purchase list</div>
                <div class='divider'></div>
                <div class='info'>
                  <div class='info_date'>
                    <p class='id'>ID437661</p>
                    <p class='data'>May 11, 2023, 14:21</p>
                  </div>
                  <div class='info_date'>
                    <p class='id'>AirOn ProCam</p>
                    <p class='data'>7/8 USB Type-C</p>
                  </div>
                  <div class='info_date'>
                    <p class='id'>132.32 EUR</p>
                    <p class='data text--red'>Not paid</p>
                  </div>
                  <div class='info_date'>
                    <p class='id'>Customer</p>
                    <p class='data'>robin@com.de</p>
                  </div>
                </div>
                <div class='divider'></div>
                <div class='info'>
                  <div class='info_date'>
                    <p class='id'>ID437661</p>
                    <p class='data'>May 11, 2023, 14:21</p>
                  </div>
                  <div class='info_date'>
                    <p class='id'>PHILIPS Essential</p>
                    <p class='data'>HD9200/90</p>
                  </div>
                  <div class='info_date'>
                    <p class='id'>543 USD</p>
                    <p class='data text--green'>NPay by
                      Stripe</p>
                  </div>
                  <div class='info_date'>
                    <p class='id'>Customer</p>
                    <p class='data'>robin@com.de</p>
                  </div>
                </div>

              </div>
              <div class='payment'>
                <div
                  class='payment_title text text--24'
                >Payment</div>
                <div class='divider'></div>
                <div class='my'>
                  <input type="radio" class="m clik"  checked></input>
                  
                  <div class='text'>Credit card</div>
                </div>
                <div class='my'>
                  <input type="radio" class="m clik" ></input>
                  <div class='text'>Debit card</div>
                </div>
                <div class='my'>
                  <input type="radio" class="m clik"  ></input>
                  <div class='text'>PayPal</div>
                </div>

                <div class='select_group'>
                  <div class='select'>
                    <div class='text pading'>Name on card</div>
                    <div class='field field--select'>
                      <span class='text text--light'></span>

                    </div>
                  </div>
                  <div class='select'>
                    <div class='text pading'>Credit card
                      number</div>
                    <div class='field field--select'>
                      <span class='text text--light'></span>

                    </div>
                  </div>

                </div>
                <div class='select_group'>
                  <div class='select'>
                    <div
                      class='text pading'
                    >Expiration</div>
                    <div class='field field--select'>
                      <span class='text text--light'></span>

                    </div>
                  </div>
                  <div class='select'>
                    <div class='text pading'>CVV</div>
                    <div class='field field--select'>
                      <span class='text text--light'></span>

                    </div>
                  </div>

                </div>
                <div class='divider'></div>
                <div class='select_group'>
                  <div class='select'>
                    <div
                      class='text pading'
                    >Expiration</div>
                    <div class='field field--select'>

                      <span
                        class='text text--light'
                      >Choose</span>
                      <span
                        class='icon nav_button_icon'
                        style='background-image: url(/svg/nav/select.svg);'
                      ></span>
                      <select class='field__select'>
                        <option value='dog'>dog</option>
                        <option value='cat'>cat</option>
                      </select>
                    </div>
                  </div>
                  <div class='select'>
                    <div class='text pading'>CVV</div>
                    <div class='field field--select'>
                      <span
                        class='text text--light'
                      >Choose</span>
                      <span
                        class='icon nav_button_icon'
                        style='background-image: url(/svg/nav/select.svg);'
                      ></span>
                      <select class='field__select'>
                        <option value='dog'>dog</option>
                        <option value='cat'>cat</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class='divider'></div>
                <div class='button clik text text--white'>Continue to checkout</div>
              </div>
            </section>
          </div>
        </main>

      </div>

    </div>

  </body>

</html>