:root {
  --space-s:8px;
  --space-m: 12px;
  --space-mx: 16px;
  --space-l: 24px;
  --space-big: 36px;

  --size-d: 16px;
  --size-s: 14px;
  --size-j: 20px;
  --size-b: 24px;

  --color-border: #d3dee9;
  --color-primary: blue;
  --color-white: white;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius-b: 12px;
  --border-radius-s: 4px
  --weight-title: 600;
  --weight-text: 400;
  --page-width: 1000px;
}

/* ============== */

.page {
  background-color: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ============== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
}
.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius-b) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}
.nav_inline {
  gap: var(--space-l);
}
.nav_vertical {
  gap: var(--space-mx);
  flex-direction: column;
}
.nav_link {
  color: grey;
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.page_block:not(:last-child) {
  margin-bottom: 80px;
}
.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.footer_copyright {
  font-size: var(--size-s);
  color: grey;
  display: block;
  margin-top: 12px;
}
.footer_title {
  font-size: var(--size-j);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-m);
  font-weight: var(--weight-title);
}
.main {
  display: flex;
  width: 100%;
  gap: 40px;
  align-items: flex-start;
}
.massange {
  max-width: 620px;
  width: 100%;
  background-color: var(--page-width);
  border-radius: var(--border-radius-b);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}
.massages_title {
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-text);

  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}
.messages_link {
  color: var(--color-primary);
  font-size: var(--size-s);
  align-self: end;
  text-decoration: none;
  transition-duration: 0.7s;
  transition-property: opacity, border-color;

  border-bottom: 1px solid transparent;
}
.messages_link:hover {
  opacity: 0.7;
  border-color: var(--color-primary);
}

.msg {
  display: flex;
  flex-direction: column;
  gap: var(--size-d);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
  position: relative;
  padding-right: var(--space-b);
}
.msg_name {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-title);
}
.msg_text {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-title);
}
.msg_day {
  position: absolute;
  right: 0;
  top: 0;
}
.advantages {
  display: flex;
  gap: var(--space-l);
}
.advantages > div {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4eaf2;
  border-radius: var(--border-radius-b);
  padding: var(--space-l);
  gap: var(--space-s);
  width: 100%;
}
.advantages > div > strong {
  font-size: 18px;
  color: var(--color-title);
  font-weight: var(--weight-title);
}
.advantages > div > p {
  color: #767676;
  font-size: var(--size-d);
  line-height: 150%;
}
.form {
  max-width: 340px;
  width: 100%;
  background-color: var(--page-width);
  border-radius: var(--border-radius-b);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}
.form_title {
  text-align: center;
  font-size: var(--size-b);
  font-weight: var(--weight-text);
  color: var(--color-title);
}
.form_info {
  align-items: center;
  text-align: center;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: #6c757d;
}
.form_button {
  text-align: center;
  font-size: var(--size-j);
  padding: 12px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: calc(var(--border-radius-b) / 3);

  transition: opacity 0.7s;
}
.form_button:hover {
  opacity: 0.7;
}
.form_button:active {
  opacity: 0.3;
}
.form_input_list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
}
.form_input {
  padding: var(--space-mx);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius-s);
}
.form_input::placeholder{
  color: var(--color-title);
  font-size: var(--size-d);
}
.form_checkbox{
  display: flex;
  gap: var(--space-s);
  align-items: center;
}
.form_checkbox > input{
  border: 1px solid #767676;
border-radius: 4px;
}
.advantages{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 2fr;

}