:root {
  --space-m: 12px;
  --space-mx: 16px;
  --space-l: 24px;
  --space-big: 36px;

  --size-d: 16px;
  --size-s: 14px;
  --size-j: 20px;

  --color-border: #5b9cdd;
  --color-primary: blue;
  --color-white: white;
  --color-title: #212529;
  --color-text: #343a40;

  --radius: 12px;
  --weight-title: 500;
  --weight-text: 400;
}

/* ============== */

.page {
  background-color: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
.page_content {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ============== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
}
.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--radius) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}
.nav_inline {
  gap: var(--space-l);
}
.nav_vertical {
  gap: var(--space-mx);
  flex-direction: column;
}
.nav_link {
  color: grey;
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.page_block:not(:last-child) {
  margin-bottom: 80px;
}
.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.footer_copyright {
  font-size: var(--size-s);
  color: grey;
  display: block;
  margin-top: 12px;
}
.footer_title {
  font-size: var(--size-j);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-m);
  font-weight: var(--weight-title);
}
.hero {
  display: flex;
  gap: var(--space-big);
  align-items: center;
  padding: var(--size-d);
  border-bottom: 1px solid var(--color-border);
}
.hero_foto {
  width: 500px;
  height: 500px;
  border-radius: var(--radius);
}
.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}
.hero_title {
  font-size: 50px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
}
.hero_text {
  font-weight: var(--weight-text);
  font-size: var(--size-j);
  line-height: 170%;
  color: var(--color-text);
}
.blog {
  display: flex;
  gap: var(--space-big);
  padding: var(--size-d);
  border-bottom: 1px solid var(--color-border);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-l);
}
.card_image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.card_title {
  font-weight: var(--weight-title);
  font-size: 32px;
  color: var(--color-title);
}
.card_text {
  font-weight: var(--weight-text);
  font-weight: var(--weight-title);
  color: var(--color-text);
}
.button {
  border-radius: var(--radius);
  text-decoration: none;
  display: inline-block;
  padding: var(--space-m) var(--space-mx);
  font-size: var(--size-d);
}
.card_button {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.card_button :hover {
  opacity: 0.7;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);
  padding: var(--space-l);
  border-radius: var(--radius);
}
.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}
.form_title {
  font-size: 27px;
  font-weight: var(--weight-title);
  color: var(--color-white);
}
.form_info {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-white);
}
.form_button {
  background-color: var(--color-white);
  width: 100%;
  max-width: 160px;
  color: var(--color-text);
}
